body {
    background:#828A95
}

h3 {
    text-align:center;
    font-size:2em;
    margin:5px;
}

.extreme{
    background:#DCB8CB;
    color:#CEEAF7;
    text-align:center;
    border: 2px solid;
    border-color:#CCD7E4;
    border-radius:25px;
    margin-top:20px;
    margin-bottom:20px;
}

.navzone{
    background:#DCB8CB;
    color:#CEEAF7;
    text-align:left;
    border: 2px solid;
    border-color:#CCD7E4;
    border-radius:25px;
    margin-top:20px;
    margin-bottom:20px;
}

.content{
    background:#DCB8CB;
    color:#CEEAF7;
    text-align:center;
    border: 2px solid;
    border-color:#CCD7E4;
    border-radius:25px;
}

.prose{
    font-family:"Comic Sans MS", cursive, sans-serif;
}

#head1{
    font-size:2em;
}

#tehlulz{
    font-weight:bold;
}

a:link {
    color:blue
}

a:visited {
    color: purple
}

a:hover {
    color:#CEEAF7
}


ul {
    margin:10px;
    list-style-position:outside;
    padding:5x;
}

ul li {
    background:#D5C9DF;
    border-radius:10px;
    padding: 5px;
    margin:5px;
}