body {
    color:black;
    background-color:#ccf5ff
}

h1{
    text-align:center;
    background-color:#cce0ff;
    font-size:3em
}

h2{
    text-align:left;
    background-color:#cce0ff;
    font-size:2em
}

h3{
    text-align:left;
    background-color:#cce0ff;
    font-size:2em
}

a:link {
    color:blue
}

a:visited {
    color: purple
}

a:hover {
    color:#006680
}

p {
    color: purple
}